header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0.3)),
    url("../images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
